{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'logos/logo.png' %}">
        <script src="{% static 'js/script.js' %}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Playfair+Display+SC:ital,wght@1,400;1,900&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        
        <title>{% block title %}{% endblock %}SER  </title>
    </head>
    <body>
        <header id="mainHeader">
            <div class="logo">
                <a href="/home">
                    <div class="logo-image">
                        <img src="{% static 'logos/logo.png' %}" alt="SER_Logo">
                    </div>
                </a>
            </div>

            <nav class="navMain">
                    <a href="/home"><button>HOME</button></a>
                    <a href="/team"><button>TEAM</button></a>
                    <a href="/sponsors"><button>SPONSORS</button></a>
                    <a href="/contact"><button>CONTACT</button></a>
                    <a href="/join"><button>JOIN</button></a>
            </nav>
            <nav class="altNav">
                <div class="theMenu">
                    <div class="theMenuButton">
                        <!-- Added the function to run on click -->
                        <button class="mobile-menu-button" onclick="toggleMenu()" aria-label="Toggle Menu">&#9776;</button> 
                    </div>
                </div>
                <div class="dropdown-content">
                    <a href="/home"><button>HOME</button></a>
                    <a href="/team"><button>TEAM</button></a>
                    <a href="/sponsors"><button>SPONSORS</button></a>
                    <a href="/contact"><button>CONTACT</button></a>
                    <a href="/join"><button>JOIN</button></a>
                </div>
            </nav>
        </header>
        
        <main class="main">
            {% block content %}{% endblock %}
            <div class="sideMenu">
                <div class = "mode">
                    <label class="toggle" for="switch">
                        <input id="switch" class="input" type="checkbox">
                        <div class="icon icon--moon" aria-label="dark-theme">
                            <svg height="24" width="24" fill="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd" d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z" fill-rule="evenodd"></path>
                            </svg>
                        </div>
                    
                        <div class="icon icon--sun" aria-label="light-theme">
                            <svg height="24" width="24" fill="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z"></path>
                            </svg>
                        </div>                    
                    </label>
                </div>
                <div id="scroll-to-top" class="up">
                    <div class="up-icon">
                        <div class="arrow-container">
                            <img src="{% static 'icons/up_arrow.png' %}" alt="up_arrow">
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>          
            <div class="rights">
                <p class="footerText">Copyright © 2023 by Space Exploration Raiders. All rights reserved.</p>
            </div>
            <div class="socials">
                <a href="https://www.instagram.com/space_exploration_raiders/?hl=en" class="instagram-link">
                    <div class="social-button">
                        <img src="{% static 'icons/instagram.png' %}" alt="Instagram Icon">
                    </div>
                </a>
            </div>          
        </footer>
    </body>
</html>