{% extends "base.html" %}
{% block title %}Privacy Policy - {% endblock %}
{% block content %}
<body>
    <div class="headerBackground"></div>
    <div class="generalSection">
        <h1 class="teamTitle">Privacy Policy</h1>
        <p>Last updated: <strong>October 2nd, 2023</strong></p>
        <br>
        <p>Thank you for visiting Space Exploration Raiders operated by Space Exploration Raiders. We value and respect your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your data when you use our website.</p>

        <ol>
            <li><strong>Information Collected:</strong>
                <ul>
                    <li>We may collect personally identifiable information, including but not limited to names, email addresses, and contact information when voluntarily provided by you through forms or other means on our website.</li>
                </ul>
            </li>

            <li><strong>Use of Information:</strong>
                <ul>
                    <li>We use the collected information to respond to your inquiries, provide requested services, improve our website, and communicate with you regarding updates and promotions.</li>
                </ul>
            </li>

            <li><strong>Disclosure of Information:</strong>
                <ul>
                    <li>We do not sell or disclose your personal information to third parties without your explicit consent, except as required by law or as necessary to provide services.</li>
                </ul>
            </li>

            <li><strong>Cookies and Tracking Technologies:</strong>
                <ul>
                    <li>Our website may use cookies and similar tracking technologies to enhance your experience. You can control cookies through your browser settings.</li>
                </ul>
            </li>

            <li><strong>Security:</strong>
                <ul>
                    <li>We implement reasonable security measures to safeguard your information against unauthorized access and misuse.</li>
                </ul>
            </li>

            <li><strong>Third-Party Links:</strong>
                <ul>
                    <li>Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these third-party sites.</li>
                </ul>
            </li>

            <li><strong>Children's Privacy:</strong>
                <ul>
                    <li>Our website is not intended for use by individuals under the age of 13. We do not knowingly collect information from children.</li>
                </ul>
            </li>

            <li><strong>Changes to this Privacy Policy:</strong>
                <ul>
                    <li>We reserve the right to update or modify this Privacy Policy at any time. Changes will be effective immediately upon posting on the website.</li>
                </ul>
            </li>

        </ol>

        <p>By using our website, you consent to the terms of this Privacy Policy.</p>

        <p>If you have any questions or concerns about this Privacy Policy, please <a href="/contact">Contact Us</a>.</p>
    </div>
</body>

{% endblock %}