{% extends "base.html" %}
{% block title %}Sponsors - {% endblock %}
{% block content %}
<head>

</head>
<body>
    <div class="coverIMGSponsor">
        <div class="sponsorPic">

        </div>
        <div class="pageTitleSponsor">
            <h1 class="sponsorTitle">Thank You</h1>
            <h2 class="sponsorTitleCont">to all of our sponsors!<span class="auto-typed"></span></h2>
        </div>
    </div>
    
    <div class="thankyou">
        <h1 class="sectionTitle">We Appreciate You</h1>
        <hr class="underline">
        <p class="thanks_subtext">Building a rover every 
            year is not only an academic challenge, but it can also be very expensive. 
            We are always looking for ways to innovate our designs. With your 
            help and support, we are able to purchase, design and build breakthrough 
            components which makes our rover more dynamic and
            performant in the NASA competition.</p>
    </div>
    <div class="howSponsor">
        <h1 class="sectionTitle">How to Sponsor Us</h1>
        <hr class="underline">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu faucibus orci, vel semper ante. Suspendisse ut porttitor odio. Cras mauris urna, ullamcorper id dolor ac, elementum vulputate neque. Maecenas vestibulum sed ligula ac vehicula. Proin sit amet mi vitae ligula sagittis luctus at quis ex. Cras sit amet nulla iaculis, ornare orci sed, feugiat orci. Donec euismod tellus massa, at tempor tellus sollicitudin eu. Nullam tincidunt magna nec nunc suscipit venenatis. Curabitur sit amet nisi metus. Praesent ac arcu et lectus iaculis viverra. Vestibulum porttitor, sapien eu efficitur aliquet, dolor eros venenatis nunc, ac volutpat mi nisl a dolor. Maecenas dapibus vulputate gravida. Phasellus eu risus eget nulla consequat laoreet rutrum eget tellus. </p>
        <br>
    </div>

    <div class="sponsors">
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
    </div>
</body>

{% endblock %}