:root {
    --primary-color: #D3D3D3;
    --primary-faded-color: #CF291D;
    --primary-more-faded-color: #414141da;
    --secondary-color: #CF291D;
    --background-color: #D3D3D3;
    --font-color: #d3d3d3;
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --imagePlaceholder: #222222;
}

* {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    cursor: url("/static/logos/cursor.7f2de9aa49b8.png"), default;
}

body{
    margin: 0;
    background-color: var(--background-color);
    color: var(--font-color);
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    box-shadow: var(--shadow);
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

header {
    background-color: var(--primary-faded-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* Center vertically */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: top 0.3s ease;
    padding: 10px 0;
    height: 80px;
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: flex-start; /* Align logo to the left */
    align-items: center;
    margin: -10px 0px 60px 40px; /* Adjust top and left margins */
}

.logo-image {
    width: 140px; /* Adjust the logo's width */
    aspect-ratio: 1;
}

.navMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; /* Center vertically */
    flex-grow: 1;
    margin: -10px 40px 60px 0px;
}

/* Rest of your CSS */

.pageTitle{
    text-align: left; /* Adjust alignment to left */
}

.welcomeText {
    margin-top: 10px; /* Adjust top margin for the welcome text */
    text-align: left;
}



/* Rest of your CSS */
#mainHeader{
    box-shadow: var(--shadow);
}

a button{
    text-decoration: none;
    color: var(--font-color); /* Add your preferred text color */
    margin: 10px;
    text-align: center;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: blink;
    transition: transform 0.2s ease-out;
}

.navMain a:hover {
    text-decoration: none;
    transform: translateY(-10px);
    position: relative; /* Add relative positioning for pseudo-element */
}

.navMain a button{
    font-size: 25px;
    font-weight: 400;
}

.navMain a:hover button{
    color: var(--primary-more-faded-color);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

main{
    margin: auto;
    width: 100%;
    overflow-x: visible;
    background-color: var(--primary-more-faded-color);
}

.coverIMG {
    width:100%;
    height: 600px; /* Adjust the height of your logo */
    background-color: #797979;
}

/* Existing CSS styles */

.pageTitle {
    margin: 0 auto;
    padding: 10px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Adjust alignment to top */
}

.welcomeTitle {
    margin: 0;
    font-size: 58px;
    margin: 20px auto 0px auto;
    text-align: left;
}

.content {
    display: flex;
    flex-direction: row; /* Arrange content in a row */
    width: 100%; /* Occupy the full width of the parent */
}

.welcomeText {
    margin: 0 auto;
    font-size: 20px;
    max-width: 50%; /* Set the maximum width to 50% (left half of the screen) */
    text-align: left;
}

.rightImage {
    max-width: 50%; /* Set the maximum width to 50% (right half of the screen) */
}



/* .join{
    margin: 5px auto 0px auto;
    font-size: 30px;
}

.subtext{
    margin: 0 auto;
    font-size: 20px;
} */

.about{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow-x: visible;
    padding: 10px;
}

.benefits{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 50;
    overflow-x: visible;
}

.benefit{
    width: 300px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px; /* Set the perspective for 3D effect */
    cursor: pointer;
    padding: 20px;
    overflow-x: visible;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.benefit.visible{
    opacity: 1;
}

.menuButton{
    color: var(--font-color);
    position: relative;
}

.benefitTitle,
.benefitDes {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the backface of the card */
    transform-origin: center; /* Set the rotation axis to the center of the card */
    border-radius: 20px;
    transition: transform 0.4s ease-out; /* Add a smooth transition */
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.benefitTitle {
    transform: rotateY(0deg); /* Initially visible side */
}

.benefitDes {
    transform: rotateY(-180deg); /* Initially hidden side */
}

.benefit.flipped .benefitTitle {
    transform: rotateY(180deg);
}

.benefit.flipped .benefitDes {
    transform: rotateY(0deg);
}

.benefit:not(.flipped):hover .benefitTitle {
    transform: rotateY(180deg);
}

.benefit:not(.flipped):hover .benefitDes {
    transform: rotateY(0deg);
}

.footerText{
    margin: 0;
}

footer{
    margin: 0;
    /* margin-top: 50px; */
    position: relative;
    z-index: 90;
    /* box-shadow: var(--shadow); */
    background-color: var(--primary-faded-color);
    padding: 15px 15px;
    text-align: center;
    font-size: small;
}

footer a{
    text-decoration: none;
}

.socials{
    margin-top: 20px;
}

/* Instagram icon hover effect */
.instagram-link {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.social-button {
    display: inline-block;
    position: relative;
}
/*-----------------------------END OF HOME PAGE || START OF TEAM-----------------------*/
.teamTitle{
    margin: 0 auto;
    text-align: center;
    font-size: 58px;
}

.sectionTitle{
    font-family:'Lucida Sans';
    margin: 10px auto;
    text-align: center;
}

.underline{
    max-width: 600px;
    width: 80%;
}

.members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.member{
    text-align: center;
    width: 300px;
    height: 375px;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.member.visible{
    opacity: 1;
}

.memberIMG{
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    aspect-ratio: 1;
    background-color: var(--imagePlaceholder);
    border-radius: 150px;
}

.memberName{
    margin: 0px;
    font-size: 22px;
    font-weight: 900;
}

.memberTitle{
    margin: 0px;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 50px;
}

.admin{
    margin-bottom: 75px;
}

p{
    font-size: 18px;
}

.cars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.car{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.car.visible{
    opacity: 1;
}

.carIMG{
    margin: 10px auto;
    padding: 10px;
    width: 60%;
    max-width: 800px;
    aspect-ratio: 16/9;
    background-color: var(--imagePlaceholder);
    border-radius: 20px;
    min-width: 270px;
}

.specs{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.specs hr{
    width: 100%;
}

.spec{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    max-width: 1000px;
    padding: 10px;
}

.specTitle{
    text-align: left;
    max-width: 60%;
    margin: 0px;
}

.spec p{
    text-align: right;
    max-width: 40%;
    margin: 0px;
}

.sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.sponsor{
    text-align: center;
    margin: 20px;
}

.sponsorLogo{
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    aspect-ratio: 16/9;
    background-color: var(--imagePlaceholder);
    border-radius: 70px;
}

.sponsorLogo a{
    display: block;
    width: 100%;
    height: 100%;
}

.thankyou,.howSponsor{
    margin: auto;
    text-align: center;
    padding: 20px;
}