{% extends "base.html" %}
{% block title %}Contact - {% endblock %}
{% block content %}
<head>

</head>
<body>
    <div class="coverIMGContact">
        <div class="reach-out">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" class="blobContact">
                <defs>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                    <stop offset="0%" style="stop-color: rgb(158, 0, 0);" />
                    <stop offset="100%" style="stop-color: #283574;" />
                </linearGradient>
                </defs>
                <path fill="url(#gradient)" d="M43.2,-77.2C54.5,-68.4,61,-53.7,67,-39.8C73,-26,78.4,-13,79.5,
                0.6C80.6,14.3,77.4,28.5,70.1,40.1C62.8,51.7,51.5,60.6,39.1,69.4C26.8,78.2,13.4,86.8,-0.9,
                88.3C-15.2,89.9,-30.4,84.5,-42.3,75.4C-54.1,66.4,-62.6,53.7,-71.7,40.6C-80.8,27.4,-90.3,
                13.7,-89.4,0.5C-88.5,-12.6,-77.1,-25.3,-68.5,-39.2C-59.9,-53.1,-54.1,-68.3,-43.1,-77.3C-32.2,
                -86.3,-16.1,-89.1,0,-89C16,-88.9,32,-86,43.2,-77.2Z" transform="translate(100 100)" />
            </svg>
            <h1 class="contactTitle">Questions or Comments?</h1>
            <h3 class="contactTitleCont">Reach out and we will get back to you!</h3>
        </div>
        <div class="hero">
            <form action="" method="post" class="contactForm" onsubmit="showLoading()">
                {% csrf_token %}
                <div class="mail-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                    </svg>
                    <span class="contact">Send Us An Email!</span>
                </div>
                <div id="input-field">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                    </svg>
                    <input required maxlength="25" type="text" placeholder="First Name" name="FirstName" oninput="sanitizeInput(this)">
                </div>
                <div id="input-field">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                    </svg>
                    <input required maxlength="25" type="text" placeholder="Last Name" name="LastName" oninput="sanitizeInput(this)">
                </div>
                <div id="input-field">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-at" viewBox="0 0 16 16">
                        <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"/>
                    </svg>
                    <input required maxlength="100" type="email" placeholder="Your Email Address..." name="Email" oninput="sanitizeInput(this)">
                </div>
                <div id="input-field">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-paper-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6.5 9.5 3 7.5v-6A1.5 1.5 0 0 1 4.5 0h7A1.5 1.5 0 0 1 13 1.5v6l-3.5 2L8 8.75l-1.5.75ZM1.059 3.635 2 3.133v3.753L0 5.713V5.4a2 2 0 0 1 1.059-1.765ZM16 5.713l-2 1.173V3.133l.941.502A2 2 0 0 1 16 5.4v.313Zm0 1.16-5.693 3.337L16 13.372v-6.5Zm-8 3.199 7.941 4.412A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516L8 10.072Zm-8 3.3 5.693-3.162L0 6.873v6.5Z"/>
                    </svg>
                    <input required maxlength="50" type="text" placeholder="Email Subject..." name="Subject" oninput="sanitizeInput(this)">
                </div>
                <div id="input-field">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                    <textarea required maxlength="1000" name="Message" placeholder="Message Content..." rows="10" oninput="sanitizeInput(this)"></textarea>
                </div>
                <div class="submitBtn">
                    <input type="submit" value="Submit" class="send-btn">
                </div>
                <div id="successMessage">
                    <div class="message" id="sent">
                        <h4>Your submission was a success</h4>
                    </div>
                    <div class="message" id="fail">
                        <h4>You submission failed.</h4>
                    </div>
                </div>
                <div class="loader">
                    <img src="../static/logos/rocket.png" alt="Rocket"  class="imageLoad">
                </div>
            </form>
        </div>
    </div>
</body>

{% endblock %}