{% extends "base.html" %}
{% block title %}Sponsors - {% endblock %}
{% block content %}
<head>

</head>
<body>
    <div class="coverIMGSponsor">
        <!-- <div class="sponsorPic">

        </div> -->
        <div class="pageTitleSponsor">
            <h1 class="sponsorTitle">Thank You</h1>
            <h2 class="sponsorTitleCont">to all of our sponsors!<span class="auto-typed"></span></h2>
        </div>
    </div>
    <div class="sponsors">
        <div class="logos-slide">
            <a href="https://www.youtube.com/channel/UCXKW_dKcpFh358S1rV5qBDw" target="_blank">
                <img src="../static/logos/jeffHanson.jpg" alt="jeffHanson" width="auto" height="100px" class="logoPic hanson">
            </a>
            <a href="https://www.linkedin.com/in/stephanie-urano-6810a113/" target="_blank">
                <img src="../static/logos/stephanie.png" alt="Stephanie" width="auto" height="100px" class="logoPic stephanie">
            </a>
            <a href="https://www.depts.ttu.edu/coe/" target="_blank">
                <img src="../static/logos/wcoe.png" alt="WCOE" width="auto" height="100px" class="logoPic">
            </a>
            <a href="https://www.lyondellbasell.com/en/" target="_blank">
                <img src="../static/logos/lyondellBasell.webp" alt="lyondellBasell" width="auto" height="100px" class="logoPic" padding="12px 0">
            </a>
            <a href="https://genesys-aerosystems.com/" target="_blank">
                <img src="../static/logos/genesys.png" alt="genesysAerosystems" width="auto" height="100px" class="logoPic">
            </a>
        </div>
        <!-- <script>
            var copy = document.querySelector(".logos-slide").cloneNode(true);
            document.querySelector(".sponsors").prepend(copy);
        </script> -->
    </div>
    <div class="thankyou">
        <h1 class="sectionTitle">We Appreciate You</h1>
        <hr class="underline">
        <p class="thanks_subtext">Building a rover every 
            year is not only an academic challenge, but it can also be very expensive. 
            We are always looking for ways to innovate our designs. With your 
            help and support, we are able to purchase, design and build breakthrough 
            components which makes our rover more dynamic and
            performant in the NASA competition.</p>
    </div>
    <div class="howSponsor">
        <h1 class="sectionTitle">How to Sponsor Us</h1>
        <hr class="underline">
        <p class="thanks_subtext">Sponsorships play a pivotal role in enabling our team to develop an optimal rover. If you or your company have an interest in becoming a sponsor, we kindly invite you to review our <a href="../static/pdf/sponsorshipPackage.pdf" target="_blank" class="pdf">Comprehensive Sponsorship Packet</a>  and select the level at which you wish to make a contribution. All checks should be made out to the Texas Tech Foundation, Inc. Please indicate "Space Exploration Raiders" on the memo line. It is important to note that all donations are eligible for tax deductions, as they are directed towards a nonprofit institution. We look forward to working with you! For all monetary contributions, we kindly request that checks be sent to: <br><br><i><b> Whitaker College of Engineering<br>c/o Mackenzie Hamilton<br>Box 43103<br>Lubbock, Tx 79401-3103</i></b><br></p>
        <br>
    </div>
    <div class="mobileSponsor">
        <div class="logos-slide">
            <a href="https://www.youtube.com/channel/UCXKW_dKcpFh358S1rV5qBDw" target="_blank">
                <img src="../static/logos/jeffHanson.jpg" alt="jeffHanson" width="auto" height="100px" class="logoPic hanson">
            </a>
            <a href="https://www.linkedin.com/in/stephanie-urano-6810a113/" target="_blank">
                <img src="../static/logos/stephanie.png" alt="Stephanie" width="auto" height="100px" class="logoPic stephanie">
            </a>
            <a href="https://www.depts.ttu.edu/coe/" target="_blank">
                <img src="../static/logos/wcoe.png" alt="WCOE" width="auto" height="100px" class="logoPic">
            </a>
            <a href="https://www.lyondellbasell.com/en/" target="_blank">
                <img src="../static/logos/lyondellBasell.webp" alt="lyondellBasell" width="auto" height="100px" class="logoPic" padding="12px 0">
            </a>
            <a href="https://genesys-aerosystems.com/" target="_blank">
                <img src="../static/logos/genesys.png" alt="genesysAerosystems" width="auto" height="100px" class="logoPic">
            </a>
        </div>
    </div>
</body>

{% endblock %}